<div class="card animated fade-in fast">
    <div class="card-body">
        <div class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
                <h5 class="card-title">AF</h5>
            </div>
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
                <h5 class="card-title">TT</h5>
            </div>
            <h5 class="card-title animated fade-in fast">Comic App</h5>
        </div>
        <p class="card-text animated fade-in">El sonido humanamente audible consiste en ondas sonoras y ondas acústicas que se producen cuando las oscilaciones de la presión del aire, son convertidas en ondas mecánicas en el oído humano y percibidas por el cerebro. La propagación del sonido
            es similar en los fluidos, donde el sonido toma la forma de fluctuaciones de presión.1​ En los cuerpos sólidos la propagación del sonido involucra variaciones del estado tensional del medio.<br><br> Representación esquemática del oído, propagación
            del sonido. Azul: ondas sonoras. Rojo: tímpano. Amarillo: Cóclea. Verde: células de receptores auditivos. Púrpura: espectro de frecuencia de respuesta del oído. Naranja: impulso del nervio. La propagación del sonido involucra transporte de
            energía sin transporte de materia, en forma de ondas mecánicas que se propagan a través de un medio elástico sólido, líquido o gaseoso. Entre los más comunes se encuentran el aire y el agua. No se propagan en el vacío, al contrario que las
            ondas electromagnéticas. Si las vibraciones se producen en la misma dirección en la que se propaga el sonido, se trata de una onda longitudinal y si las vibraciones son perpendiculares a la dirección de propagación es una onda transversal.</p>
        <a href="#" class="btn btn-primary">Gracias por visitarnos</a>
    </div>
    <div class="card-footer text-muted">
        16/02/2020
    </div>
</div>
